{% extends "base.html" %}
{% block content %}
<h2>Selwyn Campground - Camper List</h2>

<!-- Insert code to loop over the list of campers and display them -->

<table class="table table-hover">
    <tr><th>Customer ID</th><th>First Name</th><th>Family Name</th><th>Email</th><th>Phone</th></tr>
    {% for camper in allcamperlist %}
        <tr>
            <td>{{camper[0]}}</td>
            <td>{{camper[1]}}</td>
            <td>{{camper[2]}}</td>
            <td>{{camper[3]}}</td>
            <td>{{camper[4]}}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}