{% extends "base.html" %}
{% block content %}

<p></p>
<h3>A list of all customers sorted in reverse order by customer id.</h3> 
<!--show all camperlist after adding a new customer-->
<table class="table table-hover">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Family Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Edit</th>
        </tr>
    </thead>

    {% for camper in allcamperlist|reverse %}
        <tr>
            <td>{{camper[0]}}</td>
            <td>{{camper[1]}}</td>
            <td>{{camper[2]}}</td>
            <td>{{camper[3]}}</td>
            <td>{{camper[4]}}</td>

            <!-- Add an Edit button for each customer -->
            <td>
                <a href="{{ url_for('edit_customer', customer_id=camper[0]) }}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}