{% extends "base.html" %}
{% block title %}Booking Confirmation{% endblock %}
{% block content %}
<!-- code in here to display the added booking details-->   

<h1>This booking has been successfully added.</h1>

<table class="table table-success table-striped">
    <tr>
        <th>Customer Name</th>
        <td>{{ customername }}</td>
    </tr>
    <tr>
        <th>Site ID</th>
        <td>{{ siteid }}</td>
    </tr>
    <tr>
        <th>Check-in Date</th>
        <td>{{ firstnight }}</td>
    </tr>
    <tr>
        <th>Check-out Date</th>
        <td>{{ lastnight }}</td>
    </tr>
    <tr>
        <th>Occupancy</th>
        <td>{{ occupancy }}</td>
    </tr>
</table>


<a href="/" class="btn btn-primary">Back to Home</a>
{% endblock %}